@import "tailwindcss";

@theme {
  --color-primary-50: #fdf2f7;
  --color-primary-100: #fce7f2;
  --color-primary-200: #fccee5;
  --color-primary-300: #fba6ce;
  --color-primary-400: #f76fad;
  --color-primary-500: #ee3584;
  --color-primary-600: #df236a;
  --color-primary-700: #c11550;
  --color-primary-800: #a01443;
  --color-primary-900: #85163c;
  --color-primary-950: #51061f;
}

@layer base {
  button {
    @apply not-disabled:cursor-pointer;
  }

  h1,
  h2,
  h3 {
    @apply text-balance;
  }

  h1 {
    @apply text-primary-500 text-[14vw]/[14vw] font-black lg:text-[6rem]/22;
  }

  p {
    @apply text-pretty;
  }
}
